backstage:
  backstage:
    extraEnvVarsSecrets:
      - sx-cnp-secret
      - backstage-db-secrets
      - sx-vault-secret
      - sx-oidc-secret
      - exxeta-ai-secret

    appConfig:
      mcpChat:
        providers:
          - id: openai
            # Point to Exxeta LiteLLM instance
            baseUrl: 'https://ai.exxeta.info/v1' 
            model: 'gpt-4o-mini'
            # This secret variable is injected by extraEnvVarsSecrets above
            token: '${EXXETA_AI_TOKEN}'
        
        mcpServers:
          - id: 'backstage-server'
            name: 'Backstage Catalog'
            url: 'http://localhost:7007/api/mcp-actions/v1'
            headers:
              Authorization: 'Bearer ${EXTERNAL_ACCESS_TOKEN}'